<div class="game-end-dialog" ng-controller="GameEndScreenController as controller" ng-show="controller.isOpen()">
    <div class="dark-layer"></div>
    <div class="dialog">
        <span class="title">Game</span>
        <div class="stats">
            <div class="stat" ng-repeat="stat in controller.getStats()">
                <span class="stat-username" ng-bind="stat.username"></span>
                <span class="stat-score" ng-bind="stat.currentScore"></span>
            </div>
        </div>
        <button class="next-game" ng-click="controller.nextGame()">NEXT GAME</button>
        <button class="leave" ng-click="controller.leave()">LEAVE</button>
    </div>
</div>