<div class="create-room-dialog" ng-controller="FriendsDialogController as vm">
    <div class="dark-layer" ng-click="vm.close()"></div>
    <div class="dialog">
        <div class="dialog-header">
            <span>Friends</span>
            <div class="close-dialog-btn" ng-click="vm.close()">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="dialog-body">
            <div class="wrap">
                <input type="text" ng-model="vm.model.username"/>
            </div>
        </div>
        <div class="dialog-actions">
            <button ng-click="vm.find()">CLOSE</button>
        </div>
    </div>
</div>