<div class="leaderboard" ng-init="vm.init()">
    <div class="lb-head">
        Leaderboard
    </div>
    <div class="lb-content">
        <div class="game" ng-repeat="item in vm.getItems()">
            <div class="game-line">
                <span class="game-name" ng-bind="item.name"></span>
            <span class="expand" ng-click="vm.expand(item.id)" ng-if="!vm.isExpanded(item.id)">
                <i class="fa fa-arrow-down"></i>
            </span>
            <span class="expand" ng-click="vm.unexpand(item.id)" ng-if="vm.isExpanded(item.id)">
                <i class="fa fa-arrow-up"></i>
            </span>
                <span class="score">score: <span ng-bind="item.score"></span></span>
            </div>

            <div class="players" ng-repeat="player in item.players" ng-if="vm.isExpanded(item.id)">
                <span class="username" ng-bind="player.username"></span>
                <span class="score" ng-bind="player.currentScore"></span>
            </div>
        </div>
    </div>

</div>