<div class="leaderboard main" ng-init="controller.init()" ng-controller="LeaderboardController as controller">



    <div class="lb-head">
        <span class="back" ng-click="controller.back()">
            <i class="fa fa-arrow-left"></i>
        </span>
        Leaderboard
    </div>
    <div class="lb-content">
        <div class="player-row" ng-repeat="row in controller.getItems() | orderBy: 'rating': true">
            <span class="position" ng-bind="$index + 1"></span>
            <span class="username" ng-bind="row.username"></span>
            <span class="rating" ng-bind="row.rating"></span>
        </div>
    </div>

</div>