<div class="leaderboard">
    <div class="leaderboard-header">
        <div class="username">Username</div>
        <div class="score">Score</div>
    </div>
    <div class="content">
        <div class="row" ng-repeat="row in controller.getData().players">
            <div class="position" ng-class="{'top_1': $index == 0, 'top_2': $index == 1, 'top_3': $index == 2}" ng-bind="$index"></div>
            <div class="username" ng-bind="row.username">2</div>
            <div class="score" ng-bind="row.currentScore">3</div>
        </div>
    </div>
</div>