<div class="friends-block-wrapper">
    <div class="input-wrapper">
        <span class="input-label">Username</span>
        <input type="text" ng-model="ifdc.model.username" ng-change="ifdc.updateList()" placeholder="Jacket Nine"/>
    </div>
    <div class="user-list-result" ng-if="!ifdc.isPending()">
        <span>Found <span ng-bind="ifdc.getUserList().length"></span> results</span>
    </div>
    <div class="user-list" ng-if="!ifdc.isPending()">
        <div class="user" ng-repeat="user in ifdc.getUserList()" ng-click="ifdc.select(user)">
            <span class="status" ng-class="{'offline': user.status == 'OFFLINE', 'online': user.status == 'ONLINE'}">
                <i class="fa fa-circle fa-lg"></i>
            </span>
            <span class="user-name" ng-bind="user.username"></span>
        </div>
    </div>
    <div class="pending" ng-if="ifdc.isPending()">
        <span class="pending-spinner">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
    </div>
</div>