.game-popup {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    line-height: 20px;
    color: dodgerblue;
    background: transparent;
    pointer-events: none;
}
.game-popup:after {
    position: absolute;
    content: '';
    top: -1px;
    left: -1px;
    border: 2px solid dodgerblue;
    width: 28px;
    height: 28px;
}

.game-popup .popup-name {
    position: absolute;
    top: -18px;
}