.header {
    height: 60px;
    width: 100%;
    background: silver;
    line-height: 60px;
}
.header .logo {
    margin: 0 auto;
    text-align: center;
}
.header .logout-btn {
    position: absolute;
    right: 0;
    top: 20px;
}