.header {
    height: 60px;
    width: 100%;
    background: #6D4C41;
    line-height: 60px;
    color: white;
}

.header .block-3 {
    display: inline-block;
    width: 33.3%;
    float: left;
    height: 100%;
}

.header .title {
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 2px;
}

.header .tools {
    text-align: right;
}

.header .user-block {
    display: inline-block;
    padding-right: 50px;
}

.header .user-block .username {
    padding: 5px;
    background: #5D4037;
    border-radius: 3px;
    border-left: 1px solid #4E342E;
    border-top: 1px solid #4E342E;
    text-transform: uppercase;
    font-family: monospace;
}

.header .user-block .username .rating {
    color: #CDDC39;
}

.header .user-block .logout {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
    transition: 100ms;
}

.header .user-block .logout:hover {
    color: #D7CCC8;
}

.header .user-block .logout i {
    position: absolute;
    top: -20px;
    left: 5px;
}