

.leaderboard .leaderboard-header {
    padding: 10px;
    line-height: 40px;
    overflow: auto;
    height: auto;
    background: #43A047;
    color: white;
    border-bottom: 2px solid rgba(46, 111, 49, 0.67);
}

.leaderboard .leaderboard-header > div {
    display: inline-block;
    float: left;
}

.leaderboard .leaderboard-header .username {
    width: 60%;
}

.leaderboard .leaderboard-header .score {
    width: 40%;
}

.leaderboard .content .row {
    line-height: 50px;
    position: relative;
    height: 50px;
    background: white;
    cursor: pointer;
    transition: 100ms;
}

.leaderboard .content .row:hover {
    background: #EEEEEE;
    color: #43A047;
    font-weight: bold;
}

.leaderboard .content .row > div {
    display: inline-block;
    float: left;
}


.leaderboard .content .position {
    position: absolute;
    left: -15px;
    top: 10px;
    z-index: 400;
    width: 30px;
    height: 30px;
    background: white;
    color: #43A047;
    line-height: 31px;
    border-radius: 50%;
    border: 1px solid #43A047;
}

.leaderboard .content .position.top_1 {
    color: white;
    background: #43A047;
}

.leaderboard .content .position.top_2 {
    color: white;
    background: #4CAF50;
}

.leaderboard .content .position.top_3 {
    color: white;
    background: #A5D6A7;
}

.leaderboard .content .username {
    width: 60%;
}

.leaderboard .content .score {
    width: 40%;
}

.leaderboard.main {
    text-align: center;
}

.leaderboard .lb-head {
    padding: 20px;
    line-height: 20px;
    background: #7CB342;
    color: white;
    font-size: 18px;
    width: 400px;
    margin: 20px auto 0 auto;
}

.leaderboard .lb-head .back {
    float: left;
    cursor: pointer;
}

.leaderboard .lb-content {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

.leaderboard .lb-content .player-row {
    line-height: 50px;
    cursor: pointer;
}


.leaderboard .lb-content .player-row .position {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #009688;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    color: white;
}

.leaderboard .lb-content .player-row .username {
    display: inline-block;
    width: 200px;
}

.leaderboard .lb-content .player-row .rating {
    display: inline-block;
    width: 150px;
    text-align: center;
}