
* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.mainView {

}

.rect {
    stroke: silver;
    rx: 3;
    ry: 3;
}
.opened {
    fill: #eee;
}
.closed {
    fill: gray;
}
.flag {
    fill: #bbb;
}
.cell_text {
    font-weight: bold;
    font-family: Arial;
}
.cell_text_1 {
    fill: blue;
}
.cell_text_2 {
    fill: green;
}
.cell_text_3 {
    fill: red;
}
.cell_text_4 {
    fill: purple;
}
.cell_text_5 {
    fill: maroon;
}
.cell_text_6 {
    fill: turquoise;
}
.cell_text_7 {
    fill: black;
}
.cell_text_8 {
    fill: gray;
}

.canvas {
    position: absolute;
    width: 0;
    height: 0;
}
.fake-canvas {
    display: none;
}
#field {
    position: relative;
}

.hidden {
    display: none;
}

.dialog-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.create-room-dialog .dialog {
    position: absolute;
    width: 70%;
    height: 50%;
    background: #424242;
    left: 15%;
    top: 10%;
    z-index: 120;
    border: 1px solid #424242;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

.create-room-dialog .dialog .dialog-header {
    background: #212121;
    color: white;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}

.create-room-dialog .dialog .dialog-actions {
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #212121;
    width: 100%;
    background: #212121;
}

.create-room-dialog .dialog .dialog-header .close-dialog-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    text-align: center;
}

.create-room-dialog .dialog .dialog-body .wrap {
    width: 80%;
    margin: 20px auto;
}

.create-room-dialog .dialog .dialog-body .wrap input {
    outline: none;
    margin-bottom: 10px;
    height: 20px;
    background: #323232;
    color: white;
    border: 0px solid black;
    padding: 3px;
    border-radius: 4px;
}

.create-room-dialog .dialog .dialog-actions button {
    width: 50%;
    margin-left: 25%;
    border: 0 solid black;
    height: 25px;
    border-radius: 4px;
    background: #2196F3;
    color: white;
}