<div class="login-page">
    <div class="layout">
        <div class="form-group" ng-keydown="$event.keyCode == 13 && vm.login()">
            <div class="input-wrapper">
                <span class="input-label">Username</span>
                <input type="text" ng-model="vm.model.username" />
            </div>
            <div class="input-wrapper">
                <span class="input-label">Password</span>
                <input type="password" ng-model="vm.model.password"/>
            </div>
        </div>
        <div class="form-actions">
            <button class="login" ng-click="vm.login()" ng-if="!vm.pending">SIGN IN</button>
            <div class="login-pending" ng-if="vm.pending">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
            <div class="register" ng-click="vm.register()">
                <span>Sign up</span>
            </div>
        </div>
    </div>
</div>