<div class="lobby-page" ng-init="vm.refreshRooms()">

    <div class="room-list-block">
        <div class="room-list-header">
            <span class="room-list-label">ROOMS LIST</span>
            <div class="create-btn" ng-click="vm.createRoom()" ng-if="!vm.isCreate()" >
                <i class="fa fa-plus"></i>
            </div>
            <div class="refresh-btn" ng-click="vm.refreshRooms()">
                <i class="fa fa-refresh"></i>
            </div>
        </div>
        <div class="create-room" ng-if="vm.isCreate()">
            <div class="input-wrapper">
                <span class="input-label">Room name</span>
                <input type="text" ng-model="vm.roomModel.name" placeholder="Jacket Nine"/>
            </div>
            <div class="input-wrapper">
                <span class="input-label">Min rating</span>
                <input type="number" ng-model="vm.roomModel.minRating" min="0" placeholder="2350" />
            </div>
            <div class="input-wrapper">
                <span class="input-label">Field width</span>
                <input type="number" ng-model="vm.roomModel.width" min="0" placeholder="30" />
            </div>
            <div class="input-wrapper">
                <span class="input-label">Field height</span>
                <input type="number"ng-model="vm.roomModel.height" min="0" placeholder="25" />
            </div>
            <div class="input-wrapper">
                <span class="input-label">Mines count</span>
                <input type="number" ng-model="vm.roomModel.minesCount" min="0" placeholder="206" />
            </div>
            <div class="input-wrapper">
                <span class="input-label">Max people count</span>
                <input type="number" ng-model="vm.roomModel.playersCount" min="0" placeholder="10" />
            </div>
            <div class="action">
                <button class="submit" ng-click="vm.sendCreateRequest()">CREATE</button>
                <button class="cancel" ng-click="vm.cancelCreate()">CANCEL</button>
            </div>
        </div>
        <div class="room-header">
            <span class="room-name">NAME</span>
            <span class="min-rating">MIN RATING</span>
            <span class="field-size">FIELD SIZE</span>
            <span class="mines-count">MINES</span>
            <span class="players-count">PLAYERS</span>
            <span class="room-started">STARTED</span>
        </div>
        <div class="room" ng-repeat="room in vm.getRooms()" ng-click="vm.joinRoom(room.id)">
            <span class="room-name" ng-bind="room.name"></span>
            <span class="min-rating" ng-bind="room.minRating"></span>
            <span class="field-size" ng-bind="room.game.mineField.width + 'x' + room.game.mineField.height"></span>
            <span class="mines-count" ng-bind="room.game.mineField.minesCount"></span>
            <span class="players-count" ng-bind="room.players.length + '/' + room.playersCount"></span>
            <span class="room-started" ng-class="{'started': room.started, 'non-started': !room.started}">
                <i class="fa fa-flag"></i>
            </span>
        </div>
    </div>

</div>