<div ng-controller="LeftBarController as vm">
    <div class="dark-layer" ng-click="vm.hideMenu()"></div>
    <div class="left-bar">
        <ul>
            <li ng-class="{'active' : vm.isThisPage('home')}" ng-click="vm.chooseState('home')">
                <i class="fa fa-home"></i>&nbsp;Home
            </li>
            <li ng-class="{'active' : vm.isThisPage(['login', 'register'])}" ng-click="vm.chooseState('login')" ng-if="!vm.isLoggined()">
                <i class="fa fa-sign-in"></i>&nbsp;Sign in / Sign up
            </li>
            <li ng-class="{'active' : vm.isThisPage('lobby')}" ng-click="vm.chooseState('lobby')" ng-if="vm.isLoggined()">
                <i class="fa fa-users"></i>&nbsp;Lobby
            </li>
            <li ng-class="{'active' : vm.isThisPage('messages')}" ng-click="vm.chooseState('messages')" ng-if="vm.isLoggined()">
                <i class="fa fa-envelope"></i>&nbsp;Messages
            </li>
            <li ng-class="{'active' : vm.isThisPage('friends')}" ng-click="vm.chooseState('friends')" ng-if="vm.isLoggined()">
                <i class="fa fa-user"></i>&nbsp;Friends
            </li>
            <li ng-class="{'active' : vm.isThisPage('leaderboard')}" ng-click="vm.chooseState('leaderboard')" ng-if="vm.isLoggined()">
                <i class="fa fa-star"></i>&nbsp;Leaderboard
            </li>
            <li ng-if="vm.isLoggined()" ng-click="vm.logout()">
                <i class="fa fa-sign-out"></i>&nbsp;Logout
            </li>
        </ul>
    </div>
</div>